<!--  extends 'base.html.twig' a remettre -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous"/>
        {% endblock %}
    </head>

{% block body %}

    <div>
        <h1>Votre panier</h1>
    </div>
    
    
    <!-- si le panier n'est pas vide (verification de la taille de items)  -->
    {% if items | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Image</th>
                    <th>Déscription</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    {% if  item.produits is not null %}
                        <tr>
                            <td>{{ item.produits.nom }}</td>
                            <td>{{ item.produits.image }}</td>
                            <td>{{ item.produits.description }}</td>
                            <td>{{ item.produits.prix }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.produits.prix * item.quantity }}</td>
                            <td>
                                <a href="{{ path('panier_subtract', {'id': item.produits.id}) }}" class="btn">Enlever un article</a>
                            </td>
                            <td>
                                <a href="{{ path('panier_remove', {'id': item.produits.id}) }}" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">Total : </td>
                    <td>{{ totalPrice }}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p>Votre panier est vide</p>
    {% endif %}

{% endblock %}
</html>
