{% extends 'base.html.twig' %}
{% block main %}
<body>
  <div id="w">
    <header id="title">
      <h1>Votre panier</h1>
    </header>
    <div id="page">
      <table id="cart">
        <thead>
          <tr>
            <th class="first">Photo</th>
            <th class="first">Description</th>
            <th class="second">Quantité</th>
            <th class="third">Produit</th>
            <th class="fourth">Prix</th>
            <th class="five">Total</th>
          </tr>
        </thead>
        <tbody height="500px">
          {% for item in items %}
          <tr class="productitm">
            
            <td><img src="{{ asset('img/') }}{{ item.produits.image }}"></td>
            <td><input type="number" value="{{ item.quantity }}" min="0" max="99" class="qtyinput"></td>
            <td>{{ item.produits.nom }}</td>
            <td>{{ item.produits.prix }}</td>
            <td><span class="remove" href="{{ path('panier_remove',{id: item.produits.id})}}" alt="X"></span></td>
          </tr>
          {% endfor %}
          <tr class="totalprice">
            <td class="light">Total:</td>
            <td colspan="2">&nbsp;</td>
            <td colspan="2"><span class="thick">{{ totalPrice }}</span></td>
          </tr>
          
         
          <tr class="checkoutrow">
            <td colspan="5" class="checkout"><button id="submitbtn">Payer maintenant</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <p> 
    </p>
</body>
{% endblock %}

