{% extends "base.html.twig" %}

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>L'arômes des sens</title>
	<link rel="icon" href="{{ asset ('img/tree.png')}}">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ asset ('css/bootstrap.min.css')}}">
	<!-- animate CSS -->
	<link rel="stylesheet" href="{{ asset ('css/animate.css')}}">
	<!-- owl carousel CSS -->
	<link rel="stylesheet" href="{{ asset ('css/owl.carousel.min.css')}}">
	<!-- font awesome CSS -->
	<link rel="stylesheet" href="{{ asset ('css/all.css')}}">
	<!-- flaticon CSS -->
	<link rel="stylesheet" href="{{ asset ('css/flaticon.css')}}">
	<link rel="stylesheet" href="{{ asset ('css/themify-icons.css')}}">
	<!-- font awesome CSS -->
	<link rel="stylesheet" href="{{ asset ('css/magnific-popup.css')}}">
	<!-- swiper CSS -->
	<link rel="stylesheet" href="{{ asset ('css/slick.css')}}">
	<!-- style CSS -->
	<link rel="stylesheet" href="{{ asset ('css/style.css')}}">
</head>

<body>
	<!--::header part start::-->
	{% block header %}

	<header class="main_menu home_menu">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-12">
					<nav class="navbar navbar-expand-lg navbar-light">
						<a class="navbar-brand" href="{{ path ('index.html')}}">
							<img src="{{ asset ('img/logo.png')}}" alt="logo">
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse"
							data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
							<span class="menu_icon">
								<i class="fas fa-bars"></i>
							</span>
						</button>

						</a>
						<a class="dropdown-item" href="{{ path ('checkout.html')}}">Panier</a>
						<a class="dropdown-item" href="{{ path ('cart.html')}}">Mes achats</a>
						<a class="dropdown-item" href="{{ path ('confirmation.html')}}">Confirmer</a>
						<a class="dropdown-item" href="{{ path ('elements.html')}}">elements</a>
				</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{{ path ('blog.html')}}" id="navbarDropdown_2"
						role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Agenda
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
						<a class="dropdown-item" href="{{ path ('blog.html')}}">
							Agenda</a>
						<a class="dropdown-item" href="{{ path ('single-blog.html')}}">Commentaires</a>
					</div>
				</li>


				<li class="nav-item">
					<a class="nav-link" href="{{ path ('contact.html')}}">Contact</a>
				</li>
				</ul>
			</div>
			<div class="hearer_icon d-flex align-items-center">
				<a id="search_1" href="{{ asset ('javascript:void(0)')}}">
					<i class="ti-search"></i>
				</a>
				<a href="{{ path ('cart.html')}}">
					<i class="flaticon-shopping-cart-black-shape"></i>
				</a>
			</div>
</body>
</nav>
</div>
</div>
</body>

</html>
</body>

</html>
</div>
<div class="search_input" id="search_input_box">
	<div class="container ">
		<form class="d-flex justify-content-between search-inner"><input type="text" class="form-control"
				id="search_input" placeholder="Search Here"><button type="submit" class="btn"></button><span
				class="ti-close" id="close_search" title="Close Search"></span></form>
	</div>
</div>
</body>

</html>
</header> <!-- Header part end-->
{% endblock %}
{% block main %}
<!-- breadcrumb part start-->
<section class="breadcrumb_part">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb_iner">
					<h2>Votre panier</h2>
				</div>
			</div>
		</div>
	</div>
</section><!-- breadcrumb part end-->
<!--================Cart Area =================-->
<section class="cart_area section_padding">
	<div class="container">
		<div class="cart_inner">
			<div class="table-responsive">
			{% if items | length > 0 %}
			<table class="table">
					<thead>
						<tr>
							<th scope="col">Produit</th>
							<th scope="col">Prix</th>
							<th scope="col">Description</th>
							<th scope="col">Quantité</th>
							<th scope="col">Total</th>
						</tr>
					</thead>
					<tbody>
					{% for item in items %}
					</tbody>
						<tr>
							<td>
								<div class="media">
									<div class="d-flex">
										<img src="{{ asset ('img/arrivel/arrivel_1.png')}}" alt="" />
									</div>
									<div class="media-body">
							<td>
							{{ item.produits.nom }}
							</td>

			</div>
		</div>
		</td>
		<td>
			<h5>{{ item.produits.prix }}</h5>
		</td>
		<td>
			<div class="product_count">
				<input type="text" value="1" min="0" max="10" title="Quantité:" class="input-text qty input-number" />
				<button class="increase input-number-increment items-count" type="button">
					<i class="ti-angle-up"></i>
				</button>
				<button class="reduced input-number-decrement items-count" type="button">
					<i class="ti-angle-down"></i>
				</button>
				<span class="input-number-decrement">
					<i class="ti-minus"></i>
				</span>
				<input class="input-number" type="text" value="1" min="0" max="10">
				<span class="input-number-increment">
					<i class="ti-plus"></i>
				</span>
			</div>
		</td>
		<td>
			<h5>{{ item.produits.prix }}</h5>
		</td>
		</tr>
		<tr>
			<td>
				<div class="media">
					<div class="d-flex">
						<img src="{{ asset ('img/arrivel/arrivel_2.png')}}" alt="" />
					</div>
					<div class="media-body">
			<td>{{ item.produits.nom }}</td>
	</div>
	</div>
	</td>
	<td>
		<h5>{{ item.produits.prix }}</h5>
	</td>
	<td>
		<div class="product_count">
			<span class="input-number-decrement">
				<i class="ti-minus"></i>
			</span>
			<input class="input-number" type="text" value="1" min="0" max="10">
			<span class="input-number-increment">
				<i class="ti-plus"></i>
			</span>
		</div>
	</td>
	<td>
		<h5>{{ item.produits.prix }}</h5>
	</td>
	</tr>
	<tr class="bottom_button">
		<td>
			<a class="btn_1" href="{{ asset ('#')}}">Carte</a></td>
		<td></td>
		<td></td>
		<td>
			<div class="cupon_text float-right">
				<a class="btn_1" href="{{ asset ('#')}}">Fermer</a>
			</div>
		</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>
			<h5>Total</h5>
		</td>
		<td>
			<h5>{{ item.produits.prix }}</h5>
		</td>
	</tr>
	<tr class="shipping_area">
		<td></td>
		<td></td>
		<td>
			<h5>Shipping</h5>
		</td>
		<td>
			<div class="shipping_box">
				<ul class="list">
					<li>
						Flat Rate: $5.00
						<input type="radio" aria-label="Radio button for following text input">
					</li>
					<li>
						Free Shipping
						<input type="radio" aria-label="Radio button for following text input">
					</li>
					<li>
						Flat Rate: $10.00
						<input type="radio" aria-label="Radio button for following text input">
					</li>
					<li class="active">
						Local Delivery: $2.00
						<input type="radio" aria-label="Radio button for following text input">
					</li>
				</ul>
				<h6>
					Calculate Shipping
					<i class="fa fa-caret-down" aria-hidden="true"></i>
				</h6>
				<select class="shipping_select">
					<option value="1">Bangladesh</option>
					<option value="2">India</option>
					<option value="4">Pakistan</option>
				</select>
				<select class="shipping_select section_bg">
					<option value="1">Select a State</option>
					<option value="2">Select a State</option>
					<option value="4">Select a State</option>
				</select>
				<input class="post_code" type="text" placeholder="Postcode/Zipcode" />
				<a class="btn_1" href="{{ asset ('#')}}">Update Details</a>
			</div>
		</td>
	</tr>
	</tbody>
	</tbody>
	</table>
	<div class="checkout_btn_inner float-right">
		<a class="btn_1" href="{{ asset ('#')}}">Continue Shopping</a>
		<a class="btn_1 checkout_btn_1" href="{{ asset ('#')}}">Proceed to checkout</a>
	</div>
	</div>
	</div>
</section>

{% endblock %}
{% block footer %}
<!--::footer_part start::-->
<footer class="footer_part">
	<div class="footer_iner">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-lg-8">
					<div class="footer_menu">
						<divclass="footer_logo">
							<a href="{{ path ('index.html')}}">
								<img src="{{ asset ('img/logo.png')}}" alt="#">
							</a> -->
					</div>
					<div class="footer_menu_item">
						<a href="{{ path ('index.html')}}">Accueil</a>
						<a href="{{ path ('about.html')}}">A propos</a>
						<a href="{{ path ('product_list.html')}}">Produits</a>
						<a href="{{ asset ('#')}}">Pages</a>
						<a href="{{ path ('blog.html')}}">Agenda</a>
						<a href="{{ path ('contact.html')}}">Contact</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="social_icon">
					<a href="{{ asset ('#')}}">
						<i class="fab fa-facebook-f">
						</i>
					</a>
					<a href="{{ asset ('#')}}">
						<i class="fab fa-instagram">
						</i>
					</a>
					<a href="{{ asset ('#')}}">
						<i class="fab fa-google-plus-g">
						</i>
					</a>
					<a href="{{ asset ('#')}}">
						<i class="fab fa-linkedin-in">
						</i>
					</a>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="copyright_part">
		<div class="container">
			<div class="row ">
				<div class="col-lg-12">
					<div class="copyright_text">
						<P>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->Copyright
							&copy;
							<script>
								document.write(new Date().getFullYear());
							</script>All rights reserved |<i class="ti-heart" aria-hidden="true">
							</i>
							<a href="{{ asset ('https://colorlib.com')}}" target="_blank">Adame, Dounia, Bryan et
								Guillaume</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</P>
						<div class="copyright_link">
							<a href="{{ asset ('#')}}">Thermes et conditions</a>
							<a href="{{ asset ('#')}}">FAQ</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--::footer_part end::-->
{% endblock %}
{% block javascript %}
<!-- jquery plugins here-->
<script src="{{ asset ('js/jquery-1.12.1.min.js')}}">
</script><!-- popper js -->
<script src="{{ asset ('js/popper.min.js')}}">
</script><!-- bootstrap js -->
<script src="{{ asset ('js/bootstrap.min.js')}}">
</script><!-- magnific popup js -->
<script src="{{ asset ('js/jquery.magnific-popup.js')}}">
</script><!-- carousel js -->
<script src="{{ asset ('js/owl.carousel.min.js')}}">
</script>
<script src="{{ asset ('js/jquery.nice-select.min.js')}}">
</script><!-- slick js -->
<script src="{{ asset ('js/slick.min.js')}}">
</script>
<script src="{{ asset ('js/jquery.counterup.min.js')}}">
</script>
<script src="{{ asset ('js/waypoints.min.js')}}">
</script>
<script src="{{ asset ('js/contact.js')}}">
</script>
<script src="{{ asset ('js/jquery.ajaxchimp.min.js')}}">
</script>
<script src="{{ asset ('js/jquery.form.js')}}">
</script>
<script src="{{ asset ('js/jquery.validate.min.js')}}">
</script>
<script src="{{ asset ('js/mail-script.js')}}">
</script><!-- custom js -->
<script src="{{ asset ('js/custom.js')}}">
</script>
</body>
{% endblock %}