<<<<<<< HEAD
{% block stylesheet %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block body %}

=======
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Les produits
            {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous"/>
        {% endblock %}
    </head>


{% block body %}
    {% block message %}
            {% for succes in app.flashes('succes') %}
                <div class="danger alert alert-danger">
                    {{ succes }}
                </div>
            {% endfor %}
    {% endblock %}    
    <div class="bg-light p-3">
        <h1>Les produits</h1>
    </div>

    <div class="row">
        {% for produits in produit %}
            <div class="col-4 mt-4">
                <div class="border border-dark rounded p-2 clearfix">
                    <h2>
                        {{ produits.nom }}
                        -
                        {{ produits.prix }}
                        €
                    </h2>
                    <img class="img-fluid rounded" src="{{ asset('img/') }}{{ produits.image }}" alt="Image de {{ produits.nom }}">
                    <hr>
                    <a href="{{ path('panier_add', {'id': produits.id}) }}" class="btn btn-success float-right">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Ajouter
                    </a>
                    <a href="{{ path('produits_like', {'id': produits.id}) }}" class="btn btn-link js-like">
                        {% if app.user and produits.isLikedByUser(app.user) %}
                            <i class="fas fa-thumbs-up"></i>
                        {% else %}
                            <i class="far fa-thumbs-up"></i>
                        {% endif %}                                                
                        <span class="js-likes">{{ produits.likes | length }}</span>
                        <span class="js-label">J'aime</span>
                    </a>
                </div>
>>>>>>> 53446962219251c4d09ffc2c3f9461c51b362e38

    <div class="card m-3">
            <h1>Les produits</h1>
        </div>

        <div class="row">
            {% for produits in produit %}

            <div class="card" style="width: 18rem;">
    
    <div class="card-body">
    
    <img src="{{asset('img/') }}{{produits.image}}" alt="Image de {{ produits.nom }}" class="card-img-top">
    <h2>{{ produits.type }}</h2>
        <h5 class="card-title">{{ produits.nom }}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
    <a href="{{ path('panier_add', {'id': produits.id}) }}" class="btn btn-outline-secondary btn-block">

            <h4>{{ produits.prix }}
                            € Ajouter  <img src="{{ asset ('img/panier.png') }}"/></h4>

            </a>
                       
    </div>
<<<<<<< HEAD
    </div>
            

        {% endfor %}
        </div>
    
{% endblock %}
=======
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function onClickBtnLike(event){
            event.preventDefault();

            const url = this.href;
            const spanCount = this.querySelector('span.js-likes');
            const icone = this.querySelector('i');

            axios.get(url).then(function(response){

                spanCount.textContent = response.data.likes;
                
                if(icone.classList.contains('fas')){
                     icone.classList.replace('fas', 'far');
                }
                else{
                    icone.classList.replace('far', 'fas');
                }
            }).catch(function(error){
                if(error.response.status === 403){
                    window.alert("Vous ne pouvez pas liker un article si vous n ete pas connecté")
                }
                else {
                    window.alert("une erreur c est produite veuillez essayer plus tard")
                }
            })
        }

        document.querySelectorAll('a.js-like').forEach(function(link){
            link.addEventListener('click', onClickBtnLike);
        })
    </script>
{% endblock %}
</html>
>>>>>>> 53446962219251c4d09ffc2c3f9461c51b362e38
