{% extends "base.html.twig" %}
{% block main %}


    <div class="card m-3">
            <h1>Les produits</h1>
        </div>

        <div class="row">
            {% for produits in produit %}

            <div class="card" style="width: 18rem;">
    
    <div class="card-body">
    
    <img src="{{asset('img/') }}{{produits.image}}" alt="Image de {{ produits.nom }}" class="card-img-top">
    <h2>{{ produits.type }}</h2>
        <h5 class="card-title">{{ produits.nom }}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
    <a href="{{ path('panier_add', {'id': produits.id}) }}" class="btn btn-outline-secondary btn-block">

            <h4>{{ produits.prix }}
                            € Ajouter  <img src="{{ asset ('img/panier.png') }}"/></h4>

            </a>
                       
    </div>
    </div>
            

        {% endfor %}
        </div>
    
{% endblock %}

