{% block title %}Les produits
{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Les produits</h1>
    </div>

    <div class="row">
        {% for produits in produit %}
            <div class="col-4 mt-4">
                <div class="border border-dark rounded p-2 clearfix">
                    <h2>
                        {{ produits.nom }}
                        -
                        {{ produits.prix }}
                        €
                    </h2>
                    <img class="img-fluid rounded" src="{{ produits.image }}" alt="Image de {{ produits.nom }}">
                    <hr>
                    <a href="{{ path('panier_add', {'id': produits.id}) }}" class="btn btn-success float-right">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Ajouter
                    </a>
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}
