{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block body %}
   
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <label class="username"><b>Nom d'utilisateur</b></label>

    {{ form_widget(form.username) }}
     <div id="username" class="_username">
    <label for="username">{{ 'security.login.username'|trans }}</label></div>
    
    {{ form_widget(form) }}

    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}

{% endblock %}
 